

@model IEnumerable<CartItems>
@{
    ViewData["Title"] = "ListCarts";

}

<table id="" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">

    <thead>
        <tr>
            <th> Ảnh</th>
            <th> sản phẩm </th>
            <th> Đơn giá</th>
            <th>Số lượng</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@("~/image/"+ item.ImageProduct)" asp-append-version="true" alt="" width="50px" height="50px" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>

                <td class=" col-2">
                    <div>
                        <button type="button" class="btn btn-danger waves-effect width-md waves-light"><a style="text-decoration-line:none; color: white" asp-action="Delete" asp-route-id="@item.ProductId">Xóa</a></button>
                    </div>
                </td>
            </tr>
        }
        <tr>
            <td colspan="2"> Số lượng sản phẩm:  @ViewData["CountProduct"]</td>
            <td colspan="2"> Thành tiền:  @String.Format("{0:0.00}", ViewData["Total"]) VNĐ</td>
            <td colspan="1">
                <div>
                    <button type="button" class="btn btn-outline-info waves-effect width-md waves-light"><a style="text-decoration-line:none" class="text-info" asp-action="OrderProduct" >Đặt hàng</a></button>
                </div>
            </td>

        </tr>
    </tbody>
</table>



